<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_BROADCAST_RADIO"/>
    <queries>
        <package android:name="com.mediatek.fmradio"/>
        <package android:name="com.mediatek.FMRadio"/>
        <package android:name="com.android.fmradio"/>
        <package android:name="com.caf.fmradio"/>
    </queries>
    <application
        android:theme="@style/AppTheme"
        android:label="רדיו מקומי"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
